/* :root selector to define global custom properties */
:root {
  box-sizing: border-box;

  /* Color palette */
  --primary-color: #da3030;
  --secondary-color: #b65d5d;
  --background-color: #e6e6e6;
  --secondary-bg-color: #f7f0f0;
  --text-color: #1b0b0b;
  --text-light-color: #9a3636;
  --border-color: #aaa9a9;
  --shadow-color: #2525257d;

  /* Font sizes */
  --font-size-base: 16px;
  --font-size-xl: 2rem;
  --font-size-lg: 1.5rem;
  --font-size-md: 1.125rem;
  --font-size-sm: 0.875rem;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  /* Border radius */
  --border-radius: 5px;
  --border-radius-large: 10px;
  --border-radius-xl: 15px;
  --border-radius-full: 100%;

  /* Transition */
  --transition-speed: 300ms;
  --transition-delay: 100ms;
}
.dark,
.dark * {
  --primary-color: #dc3f3f;
  --secondary-color: #b65d5d;
  --background-color: #252222;
  --secondary-bg-color: #2d2b2b;
  --nav-background-color: #352f2f;
  --text-color: #d3d3d3;
  --text-light-color: #fda4a4;
  --border-color: #db7c7c;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--text-color);
}
hr {
  border: 1px solid var(--border-color);
  border-left: none;
  border-right: none;
  border-top: none;
}
h2 {
  color: var(--text-light-color);
  font-size: var(--font-size-lg);
  font-weight: 600;
  margin-bottom: 1rem;
}
body,
html {
  padding: 0px;
  margin: 0px;

  scroll-behavior: smooth;
  background-color: var(--background-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  transition: all var(--transition-speed) ease;
}
.dark-off {
  display: none;
}
.dark .dark-off {
  display: block;
}
.dark .dark-on {
  display: none;
}
.dark-on,
.dark-off {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
}
header {
  position: sticky;
  top: 0px;
  background-color: var(--background-color);
  z-index: 10;
}
section {
  padding: var(--spacing-xl) var(--spacing-xl);
}

.navbar-desktop {
  display: none;
}

.navbar a {
  font-size: var(--font-size-md);
  color: var(--text-color);
}

.navbar a:hover {
  color: var(--text-light-color);
}

.nav-button:hover {
  cursor: pointer;
}
.nav-button {
  background: none;
  border: none;
  outline: none;
  width: max-content;
  padding: 0px;
}
#close-button {
  align-self: self-end;
}
.nav-button img {
  width: 3rem;
}

.mobile-links {
  padding: var(--spacing-md) var(--spacing-lg);
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  list-style-type: none;
  gap: var(--spacing-md);
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100vh;
  background-color: white;
}
.dark .mobile-links {
  background-color: var(--nav-background-color);
}
.nav-bg {
  position: fixed;
  backdrop-filter: brightness(0.75);
  backdrop-filter: blur(1.75px);
  width: 100vw;
  height: 100vh;
  right: 0px;
  top: 0px;
}
header {
  padding: var(--spacing-md);
  border-bottom: 2px solid var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* hero styling */
#hero {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 5%;
  min-height: max-content;
  height: calc(100vh-70px);
  padding: var(--spacing-lg);
}
.profile-img {
  padding: var(--spacing-lg);
  max-width: 400px;
}
.profile-img img {
  border-radius: var(--border-radius-full);
  width: 100%;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.hero-content h1 {
  color: var(--text-light-color);
  font-weight: 600;
  font-size: var(--font-size-xl);
}

.hero-content p {
  color: var(--text-color);
  font-size: var(--font-size-md);
}

.hero-content .cta-button {
  color: white;
  background-color: var(--primary-color);
  width: max-content;
  padding: 1rem 0.75rem;
  border-radius: var(--border-radius);
}

.hero-content .cta-button:hover {
  background-color: var(--secondary-color);
}

/* about styling */

#about .img-container img {
  width: 100%;
  border-radius: 50% 0% 0% 30%;
}
#about .img-container {
  max-width: 500px;
  justify-self: end;
}
#about {
  padding: var(--spacing-xl) 0px;
  display: grid;
  justify-content: space-between;
  align-items: center;
}
.about-content {
  padding: var(--spacing-lg);
}

/* Portfolio Styling */
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
  gap: var(--spacing-lg);
}
.portfolio-item {
  background-color: var(--secondary-bg-color);
  overflow: hidden;
  border-radius: var(--border-radius-large);
  box-shadow: 5px 5px 15px var(--shadow-color);
  transition: all var(--transition-speed) var(--transition-delay) ease;
}
.portfolio-item:hover {
  transform: scale(1.1);
}
.portfolio-item h3,
.portfolio-item p {
  padding: var(--spacing-md);
}
#portfolio .img-container img {
  width: 100%;
}

/* experience styling */
.experience-container h3 {
  color: var(--text-light-color);
  margin-bottom: var(--spacing-sm);
}
.experience-container p {
  margin-bottom: var(--spacing-sm);
}
.experience-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
  gap: var(--spacing-lg);
}
.experience-item {
  padding: var(--spacing-md);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-large);
}

/* education styling */
.education-item h3,
.education-item span {
  color: var(--text-light-color);
}
.education-item {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-sm);
}
/* Carousel */

#container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: var(--secondary-bg-color);
  display: grid;
  place-items: center;
}

#slider-container {
  height: 300px;
  width: 85vw;
  max-width: 1400px;
  background: var(--background-color);

  position: relative;
  overflow: hidden;
  padding: 20px;
}

#slider-container .btn {
  position: absolute;
  top: calc(50% - 30px);
  height: 30px;
  width: 30px;
  z-index: 100;
  border-left: 8px solid pink;
  border-top: 8px solid pink;
}

#slider-container .btn:hover {
  transform: scale(1.2);
}

#slider-container .btn.inactive {
  border-color: rgb(153, 121, 126);
}

#slider-container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px;
}
.slide img {
  width: 100%;
}
.slide {
  width: 300px;
}

#slider-container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

#slider-container #slider {
  display: flex;
  width: 1000%;
  height: 100%;
  transition: all 0.5s;
}

#slider-container #slider .slide {
  height: 90%;
  margin: auto 10px;
  display: grid;
  place-items: center;
}

@media only screen and (min-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(2.5% - 20px);
  }
}

@media only screen and (max-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(3.3333333% - 20px);
  }
}

@media only screen and (max-width: 900px) {
  #slider-container #slider .slide {
    width: calc(5% - 20px);
  }
}

@media only screen and (max-width: 550px) {
  #slider-container #slider .slide {
    width: calc(10% - 20px);
  }
}

/* contacts styling */
.social-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--spacing-lg);
  gap: var(--spacing-lg);
}
.social-links .link-icon {
  width: 3rem;
}
.link-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  color: var(--text-color);
}
.link-item:hover {
  color: var(--text-light-color);
}
footer * {
  text-align: center;
  color: var(--text-light-color);
}
.invisible {
  display: none !important;
}

@media (width >= 1024px) {
  .navbar-mobile {
    display: none;
  }
  .navbar-desktop {
    display: flex;
    gap: var(--spacing-lg);
    list-style-type: none;
  }

  #hero {
    grid-template-columns: repeat(2, 45%);
  }
  #about {
    grid-template-columns: repeat(2, 1fr);
  }
  #about .about-content {
    grid-row: 1/2;
  }
  #about .img-container {
    grid-column: 2 span 1;
  }
}
